@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navbar-logo {
  width: 80px;
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
}

.nav-link {
  color: #333;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #444;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-moon {
  color: #f1c40f;
  font-size: 12px;
  margin-left: 5px;
}

.icon-sun {
  color: #f39c12;
  font-size: 12px;
  margin-right: 5px;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.admin-button,
.logout-button {
  font-size: 14px;
  padding: 5px 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.admin-button:hover {
  background-color: #dc3545;
  color: #fff;
}

.logout-button:hover {
  background-color: #28a745;
  color: #fff;
}
