/* Ensure the body and html take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* The footer should be fixed at the bottom */
#footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%; /* Make it full width */
  background-color: #333;
  color: white;
  padding: 0px;
  text-align: center;
  z-index: 1000; /* Ensures it's always on top */
}

/* Styling for social links */
.social a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
}

.social a:hover {
  color: #ff6347;
}
